@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
$background: #FDF8ED;

$envelope: #b073dc;
$font: 'Poppins', sans-serif;
$dark: #c099dc;
$light: #cdb5df;
$darker: #9a48d4;

$paper: #232323;

$white: #FFF;
$black: #000;